.p-3 {
  padding: 3;
}

.p-1 {
  padding: 1;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.align-top {
  align-items: top;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-top {
  text-align: top;
}

.warning {
  background-color: rgb(255, 170, 13);
  color: rgb(75, 54, 0);
}

.warning button {
  background-color: rgb(39, 28, 2);
  color: rgb(190, 142, 18);
}

.warning button:active {
  background-color: rgb(190, 142, 18);
  color: rgb(39, 28, 2);
}
.message-box {
  position: relative;
  color:red;
  top: 1000%;
  left: 1000%;
}