/* VARIÁVEIS */
:root {
  --success: rgb(45, 207, 159);
  --success-active: rgb(39, 28, 2);
  --decoration-primary: rgb(206, 143, 7);
  --decoration-primary-after: rgb(189, 130, 3);
  --warning: rgb(190, 142, 18);
  --warning-active: rgb(39, 28, 2);
  --danger: #ff5733;
  --danger-after: #ad3f26;
  --danger-active: rgb(39, 28, 2);
  --default-elements-mode-primary: rgb(44, 44, 44);
  --switch-mode-primary:           rgb(180, 180, 180);
  --switch-mode-secondary:         rgb(130, 130, 130);
  --switch-mode-tertiary:          rgb(80, 80, 80);
  --switch-mode-elements-primary:  rgb(44, 44, 44);
  --switch-mode-elements-secondary:rgb(33, 33, 33);
  --switch-mode-elements-tertiary: rgb(22, 22, 22);
  --fixed-dark-mode-primary:       rgb(22, 22, 22);
  --fixed-dark-mode-secondary:     rgb(33, 33, 33);
  --fixed-dark-mode-tertiary:      rgb(44, 44, 44);
  --fixed-light-mode-primary:      rgb(180, 180, 180);
  --fixed-light-mode-secondary:    rgb(130, 130, 130);
  --fixed-light-mode-tertiary:     rgb(80, 80, 80);
  --default-mode-primary:          rgb(180, 180, 180);
  --default-mode-secondary:        rgb(130, 130, 130);
  --default-mode-tertiary:         rgb(80, 80, 80);
  --element-backdrop: rgb(0, 0, 0);
}

table, h1, h2, h3, h4{
  color: var(--switch-elements-mode-primary);
}
:root{
  background-color: var(--switch-mode-primary);
}
:root::-webkit-scrollbar {
  width: 10px;
}
:root::-webkit-scrollbar-thumb {
        background-color: var(--decoration-primary-after); /* Cor do polegar (a parte móvel) */
        border-radius: 10px; /* Borda arredondada */
}
:root::-webkit-scrollbar-track {
  background-color: var(--switch-elements-mode-tertiary); /* Cor do rastro (a parte fixa) */
}

.d-invisible {
  visibility: hidden !important;
}


/* MARGINS */
.mt-10 {
  margin-top: 100px;
}

.mb-8 {
  margin-bottom: 80px;
}

.mb-10 {
  margin-bottom: 100px;
}


/* PADDINGS */
.p-t-custom {
  padding-top: 50px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-100 {
  padding-top: 100px;
}

.p-l-5 {
  padding-left: 5px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-10 {
  padding: 10px;
}

.p-3 {
  padding: 3;
}

.p-2 {
  padding: 2;
}

.p-1 {
  padding: 1;
}


/* BORDERS SHADOWS */
.b-radius-5 {
  border-radius: 5px;
}

.b-radius-10 {
  border-radius: 10px;
}

.b-radius-100 {
  border-radius: 100%;
}

.b-shadow-1 {
  box-shadow: 1px 1px 2px 0.1px rgba(0, 0, 0, 0.4);
}

.b-shadow-2 {
  box-shadow: 1px 1px 2px 0.8px rgba(0, 0, 0, 0.2);
}

.b-shadow-3 {
  box-shadow: 10px 10px 20px 1.8px rgba(0, 0, 0, 0.6);
}

/* DISPLAY POSITIONS */
.overflow-hidden {
  overflow: hidden;
}

.p-top-10 {
  padding-top: 70px;
}

.p-fixed {
  position: fixed;
}

.p-relative {
  position: relative;
}

.x-hidden {
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-space-evenly {
  justify-content: space-evenly;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.direction-row {
  flex-direction: row;
}

.direction-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-top {
  align-items: flex-start !important;
}

.align-end {
  align-items: end;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.text-center {
  text-align: center;
}

.text-top {
  text-align: top;
}

.vh-100 {
  height: 100vh;
}

.h-100 {
  height: 100%;
}

.w-2 {
  width: 200px;
}



/* INPUTS */
.label-form-control {
  font-size: 8pt;
}

.form-control,
input {
  color: var(--switch-elements-mode-secondary) !important;
  background-color: var(--switch-mode-tertiary) !important;
  border-color: var(--switch-mode-tertiary) !important;
}

label {
  color: var(--switch-elements-mode-primary) !important;
}

.input-text {
  border-style: none;
  width: 100%;
}

.smaller {
  font-size: smaller;
}

.small {
  font-size: small;
}

.medium {
  font-size: medium;
}

.large {
  font-size: large;
}

.form-label-text {
  font-size: 9pt;
  margin-bottom: -60px;
}

.input-text:focus {
  outline: none;
}

.showHide {
  border-radius: 5px;
  border-color: rgb(0, 0, 0, 0.2);
  width: 30px;
  width: 30px;
}

.showHide:focus {
  outline: none;
}




/* ALERTS DECORATION */
html {
  background-color: transparent !important;
}

body {
  background-color: transparent !important;
}

.decoration-primary {
  background-color: var(--decoration-primary);
}

.warning {
  background-color: var(--warning);
  color: var(--warning-active);
}

.warning button {
  background-color: var(--warning-active);
  color: var(--warning);
}

.warning button:active {
  background-color: var(--warning);
  color: var(--warning-active);
}

.danger {
  background-color: var(--danger);
  color: var(--switch-elements-mode-primary);
}

.danger button {
  background-color: var(--danger-active);
  color: var(--danger);
}

.danger button:active {
  background-color: var(--danger);
  color: var(--danger-active);
}

.success {
  background-color: var(--success);
  color: var(--success-active);
}

.success button {
  background-color: var(--success-active);
  color: var(--success);
}

.success button:active {
  background-color: var(--success);
  color: var(--success-active);
}

.textError {
  color: var(--danger);
  font-weight: 600;
}

.secondary {
  background-color: var(--switch-mode-elements-primary);
}

/* BASICS */

/* NOTIFICATION */


.notify-bar {
  opacity: 0;
  width: 100%;
  transform: translateY(-1000px);
  transition: transform 0.7s ease, opacity 0.2s ease;
}

.notify-bar.show {
  opacity: 1;
  transform: translateY(50px);
  transition: transform 0.7s ease, opacity 0.2s ease;
}

.notify-bar-btn {
  display: flex;
  width: 100%;
  background-color: transparent;
  justify-content: flex-end;
  align-items: center;
  transition: 0.3s;
  background-color: var(--switch-mode-secondary);
  color: var(--switch-elements-mode-primary);
  cursor: pointer;
}

.notify-bar-btn:hover {
  transition: 0.3s ease;
  border-radius: 5px;
  background-color: var(--switch-mode-tertiary);
  color: var(--decoration-primary);
}

.notify-bar-text {
  font-size: medium;
  padding-right: 10px;
}

.notify-bar-btn-icon {
  border-radius: 5px;
  outline: none;
  border: none;
  transition: 0.3s;
  color: var(--switch-elements-mode-primary);
  background-color: transparent;
  cursor: pointer;
}

.notify-bar-btn:hover .notify-bar-btn-icon {
  color: var(--decoration-primary);
}

.nav-notify {
  position: relative;
  display: flex;
}

.new-notify {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -10px;
  font-weight: 600;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  cursor: pointer;
  padding: 0px 15px;
  background-color: var(--decoration-primary);
  z-index: 2;
}

/* CHECKBOX */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--switch-elements-mode-secondary);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 2px;
  bottom: 4px;
  background-color: var(--switch-mode-secondary);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--decoration-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--decoration-primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 10px;
}

/* BTN */

.btn-nav button {
  outline: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  background-color: transparent;
  transition: 0.2s;
  color: var(--switch-elements-mode-primary);
  cursor: pointer;
}

.btn-nav button:hover {
  background-color: var(--switch-mode-primary);
}

.btn-nav button:focus {
  border-style: none;
  outline: none;
}

.btn-nav button:active {
  border-style: none;
  outline: none;
}


/* ANIMATION CLASS */
.collapse-animation {
  animation: collapse 0.5s;
}

.expand-animation {
  animation: expand 1s;
}

/* EDIT-PAGE */
.perfil-img-edit {
  max-height: 50vh;
  width: 100%;
  object-fit: cover;
  object-position: center; 
  border-radius: 10px;
}

.remove-input:hover {
  opacity: 0.9;
}

.upload-input {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}

.upload-input:hover {
  opacity: 0.9;
}

/* TABLES */

.generic-table::-webkit-scrollbar,
tbody::-webkit-scrollbar,
.options::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

.generic-table::-webkit-scrollbar-thumb,
tbody::-webkit-scrollbar-thumb,
.options::-webkit-scrollbar-thumb {
  background-color: var(--decoration-primary-after);
}

.generic-table::-webkit-scrollbar-track,
tbody::-webkit-scrollbar-track,
.options::-webkit-scrollbar-track {
  background-color: var(--switch-elements-mode-tertiary);
}

.backdrop-options {
  position: fixed;
  opacity: 0;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 1;
  transition: 0.2s;
}

.backdrop-options.active {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  transition: 0.2s;
}

/* ANIMATION */
@keyframes expand {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes collapse {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

@keyframes fade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (max-width: 770.98px) {
  .d-sm-hidden {
    display: none !important;
  }
}

@media (min-width: 771.10px) and (max-width: 991.98px) {
  .d-md-hidden {
    display: none !important;
  }
}