/* SIDEBAR */
ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

/* begin - button MENU of side bar */
.btn-side-menu {
  font-size: small;
  cursor: pointer;
  overflow-x: hidden;
}

.btn-side-menu:hover {
  cursor: pointer;
}

.btn-side-menu ul {
  cursor: pointer;
  transition: 0.3s;
}

.btn-side-menu ul:hover {
  border-radius: 5px;
  background-color: var(--switch-mode-tertiary);
  cursor: pointer;
  transition: 0.3s;
}

.btn-side-menu ul button {
  outline: none;
  border-style: none;
  background-color: transparent;
  transition: 0.3s;
  color: var(--switch-elements-mode-primary);
  cursor: pointer;
}

.btn-side-menu ul:hover {
  color: var(--decoration-primary);
}

.btn-side-menu.drop ul {
  font-size: small;
  border-radius: 10px;
  background-color: var(--decoration-primary);
}

.btn-side-menu.drop ul button {
  outline: none;
  border-style: none;
  background-color: transparent;
  transition: 0.3s;
  color: var(--switch-elements-mode-primary);
  cursor: pointer;
}

.btn-side-menu .toggle-side-menu-icon {
  transform: rotate(0deg);
  transition: 0.5s ease-in-out
}

.btn-side-menu.drop .toggle-side-menu-icon {
  transform: rotate(180deg);
  transition: 0.5s ease-in-out
}

/* end - button MENU of side bar */


/* begin - button SUBMENU of side bar */
.btn-side-submenu {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.btn-side-submenu:hover {
  cursor: pointer;
}

.btn-side-submenu li {
  cursor: pointer;
  transition: 0.5s ease-in-out
}

.btn-side-submenu li:hover {
  border-radius: 5px;
  background-color: var(--switch-mode-tertiary);
  cursor: pointer;
  transition: 0.5s ease-in-out
}

.btn-side-submenu li button {
  outline: none;
  border-style: none;
  background-color: transparent;
  transition: 0.3s;
  color: var(--switch-elements-mode-primary);
  cursor: pointer;
}

.btn-side-submenu li:hover {
  color: var(--switch-elements-mode-primary);
}

.btn-side-submenu.drop li {
  border-radius: 10px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(255, 255, 255, 0.1);
  background-color: var(--switch-mode-tertiary);
}

.btn-side-submenu.drop li button {
  font-size: smaller;
  outline: none;
  border-style: none;
  background-color: transparent;
  transition: 0.3s;
  color: var(--switch-elements-mode-primary);
  cursor: pointer;
}

.btn-side-submenu .toggle-side-menu-icon {
  transform: rotate(0deg);
  transition: 0.2s;
}

.btn-side-submenu.drop .toggle-side-submenu-icon {
  transform: rotate(180deg);
  transition: 0.2s;

}

.btn-side-submenu .toggle-side-icon {
  opacity: 1;
}

/* end - button SUBMENU of side bar */



/* begin - button PAGE of side bar */
.btn-side-submenu,
.btn-side-page {
  border-radius: 10px;
  background-color: var(--switch-mode-tertiary);
  transition: 0.3s;
}

.btn-side-submenu.drop,
.btn-side-page {
  border-radius: 10px;
  background-color: var(--switch-mode-tertiary);
  transition: 1;
}

.btn-side-page button {
  font-size: small;
  width: 100%;
  margin-top: 5px;
  border-style: none;
  background-color: transparent;
  color: var(--switch-elements-mode-primary);
  cursor: pointer;
  overflow-x: hidden;
  transition: 0.3s;

}

.btn-side-page button:hover {
  outline: none;
  border-style: none;
  border-radius: 5px;
  transition: 0.3s;
  background-color: var(--switch-mode-tertiary);
}

.btn-side-page button:focus {
  outline: none;
  border-style: none;
  background-color: var(--switch-mode-tertiary);
}

.btn-side-page button {
  width: 100%;
  margin-top: 5px;
  border-style: none;
  background-color: transparent;
  color: var(--switch-elements-mode-primary);
  cursor: pointer;
}

.btn-side-page button:hover {
  outline: none;
  border-style: none;
  border-radius: 5px;
  transition: 0.3s;
  background-color: var(--switch-mode-tertiary);
}

.btn-side-page button:focus {
  outline: none;
  border-style: none;
  background-color: var(--switch-mode-tertiary);
}

/* end - button PAGE of side bar */

/* toggle side menu */

.toggle-side-menu {
  top: 50px;
  width: 70px;
  height: 100%;
  transition: transform 0.5s ease-in-out, opacity 0.4s, width 0.3s ease-in-out;
}

.toggle-side-menu.open {
  width: 230px;
  transform: translateX(0%);
  transition: transform 0.5s ease-in-out, opacity 0.4s, width 0.3s ease-in-out;
}

.toggle-side-menu .toggle-side-menu-btn {
  position: absolute !important;
  left: 80%;
  transform: rotate(0);
  transition: 0.3s ease-in-out;
  z-index: 7;
}

.toggle-side-menu.open .toggle-side-menu-btn {
  left: 97%;
}

.btn-side-page {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.btn-side-page:hover span,
.btn-side-page:hover button {
  color: var(--decoration-primary);
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.toggle-side-menu.open .toggle-side-menu-btn {
  transform: rotate(180deg);
}

.side-menu {
  height: 100%;
  width: 100%;
  background-color: var(--switch-mode-secondary);
}


/* DROPDOWN */
.btn-side-menu .btn-side-submenu {
  display: none;
}

.btn-side-menu.drop .btn-side-submenu {
  display: block;
}

.btn-side-submenu .btn-side-page {
  display: none;
}

.btn-side-submenu.drop .btn-side-page {
  display: block;
}

@media screen and (max-width:480px) {
  .toggle-side-menu {
    transform: translateX(-50px);
  }

  .card-box {
    padding: 5% 0 5% 5% !important;
    margin: 5% 5% 5% 5% !important;
  }

  .toggle-side-menu.open {
    max-width: 200px;
  }
}